@font-face {
  font-family: 'Conv_Bemount';
  src: url('../font/Bemount.eot');
  src: local('☺'), 
  url('../font/Bemount.woff') format('woff'), 
  url('../font/Bemount.ttf') format('truetype'), 
  url('../font/Bemount.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}

*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
label{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

nav,footer,header,aside{display: block;}

html,body{
  cu
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
  overflow-x: hidden;
  font-family: 'Conv_Bemount';
  background-color: #202020;
  color: #FFE9CB;
}

body.lock{
  overflow: hidden;
}

.page{
  overflow: hidden;
  min-height: 100vh;
}

.container{
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.intro{
  background-image: url(../img/main_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header{
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.logo{
  max-width: 100px;
}

.nav__link{
  cursor: pointer;
  font-size: 30px;
  padding: 2px 10px;
  background-color: #D98D34;
  border-radius: 3px;
  border: 4px solid #D98D34;
  margin-left: 30px;
  color: #FFE9CB;
  transition: .3s;
}

.nav__link:hover{
  background-color: transparent;
  border: 4px solid #FFE9CB;
}

.burger_nav{
  top: -100%;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #D98D34;
  text-align: center;
  transition: all .3s;
  overflow: auto;
}

.nav__link.active{
  display: block;
  border-bottom: 2px solid #FFE9CB;
  margin-left: 0;
}

.burger_nav.active{
  top: 0;
  margin-top: 150px;
}

.burger_nav.nav__link{
  display: block;
  text-align: center;

}
.social_nav{
  display: none;
  margin-top: 40px;
}

.social_nav.active .social__icon:not(:last-child){
  margin-right: 15px;
}

.social_nav.active{
  display: block;
}

.burger{
  display: none;
  position: relative;
  width: 60px;
  height: 31px;
}

.burger span{
  position: absolute;
  background-color: #D98D34;
  width: 100%;
  height: 5px;
  left: 0;
  top: 13px;
  border-radius: 10px;
  transition: all .1s;
}

.burger:before,
.burger:after{
  content: '';
  background-color: #D98D34;
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  border-radius: 10px;
  transition: all .3s;
}

.burger:before{
  top: 0;
}

.burger:after{
  bottom: 0;
}

.burger.active:before{
  transform: rotate(45deg);
  top:12px;
}

.burger.active:after{
  transform: rotate(-45deg);
  bottom: 12px;
}

.burger.active span{
  transform: scale(0);
}

.main__inner{
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 430px;
  padding-bottom: 275px;
}

.main__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__text{
  text-align: center;
}

.main__title{
  font-size: 40px;
}

.main__name{
  line-height: 0.7;
  font-size: 140px;
  text-shadow: 0 6px 3px #202020;
}

.btn{
  margin-top: 200px;
  z-index: 4;
}

.btn__link{
  cursor: pointer;
  font-size: 40px;
  padding: 5px 40px;
  border: 4px solid #EEDAC0;
  border-radius: 3px;
  color: #EEDAC0;
  transition: .3s;
}

.btn__link:hover{
  background-color: #D98D34;
  border: 4px solid #D98D34;
}

.main__list{
  margin-bottom: 30px;
  font-size: 30px;
  z-index: 4;
}

.main__list:before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: #EEDAC0;
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
}

.bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg img{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.bg_media_2{
  z-index: -1;
}

.bg_media_1{
  z-index: -1;
}

.about{
  position: relative;
  background-image: url(../img/about_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}


.title{
  cursor: default;
  text-align: center;
  padding-top: 120px;
  font-size: 70px;
}

.about__text{
  max-width: 650px;
  margin: 0 auto;
  padding-bottom: 56px;
}

.about_txt{
  margin-top: 85px;
  font-size: 30px;
}

.statistics{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.statistics__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statistics_box{
  padding: 10px 40px;
  border: 2px solid #EEDAC0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 110px;
}

.statistics_box--pad{
  margin-right: 40px;
}

.statistics_num{
  font-size: 80px;
  color: #D98D34;
}

.statistics_text{
  font-size: 30px;
}

.teachers{
  position: relative;
  background-image: url(../img/teachers_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.marks_right{
  max-width: 50px;
  float: right;
  margin-top: 50px;
}

.marks_left{
  max-width: 50px;
  margin-top: 50px;
}

.teachers_inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 170px;
  margin-bottom: 150px;
}

.teacher_avatar{
  padding: 35px;
  background-color: #EEDAC0;
  border: 5px solid #AB9A83;
  border-radius: 5px;
  border-bottom: 0;
}

.teacher_avatar img{
  max-width: 265px;
  border: 5px solid #AB9A83;
  border-radius: 5px;
}

.teachers_content_box{
  position: relative;
  padding: 15px 35px;
  border: 5px solid #AB9A83;
  border-radius: 5px;
  border-top: 0;
}

.teacher_name{
  font-size: 40px;
  color: #D98D34;
}

.teacher_text{
  font-size: 25px;
}

.teacher_text span{
  color: #D98D34;
}

.arrow{
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 35px;
}

.arrow div{
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 25px solid #D98D34;
  transition: .3s;
}

.arrow div:hover{
  border-left: 25px solid #EEDAC0;
}

.btn--teachers{
  text-align: right;
  padding-bottom: 120px;
}

.btn__link:hover{
  background-color: #D98D34;
  border: 4px solid #D98D34;
}

.courses{
  position: relative;
  background-image: url(../img/courses_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.title--courses{
  margin-bottom: 100px;
}

.courses_inner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  z-index: 3;
}

.courses_box--pad{
  margin-right: 60px;
}

.courses_box{
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #404434;
  max-width: 400px;
}

.courses_box:hover{
}

.courses_name{
  font-size: 40px;
  color: #D98D34;
  background-color: #404434;
  border-radius: 8px;
  padding: 20px 25px;
}

.courses_text{
  height: 325px;
  font-size: 30px;
  background-color: #404434;
  border-radius: 8px;
  padding: 20px 25px;
  margin-top: 20px;
}

.cta{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price{
  font-size: 35px;
  background-color: #404434;
  border-radius: 8px;
  padding: 8px 15px;
}

.cta__btn{
  cursor: pointer;
  font-size: 35px;
  color: #404434;
  background-color: #D98D34;
  border-radius: 8px;
  padding: 8px 15px;
  transition: .3s;
}

.cta__btn:hover{
  background-color: #EEDAC0;
}

.courses_bg{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.contact{
  position: relative;
  background-image: url(../img/contact_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.contact__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  padding-bottom: 100px;
}

.contact__content{
  text-align: center;
  max-width: 495px;
  margin: 0 auto;
}

.contact__title{
  font-size: 40px;
  color: #D98D34;
  margin-bottom: 50px;
}

.contact_input{
  font-size: 25px;
  color: #4A4741;
  backgsround-color: #EEDAC0;
  border: 3px solid #AB9A83;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  margin-bottom: 20px;
}

.contact_privacy{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox{
  position: relative;
}

.contact_checkbox{
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.contact_checkbox_lable{
  font-size: 22px;
  padding-left: 25px;
}

.contact_checkbox_lable:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background-color: #EEDAC0;
  border: 3px solid #AB9A83;
  border-radius: 5px;
  position: absolute;
  top: -2px;
  left: 0;
  z-index: 1;
}

.contact_checkbox_lable:after{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #78654B;
  opacity: 0;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 2;
  transition: opacity .2s;
}

.contact_checkbox:checked + .contact_checkbox_lable:after{
  opacity: 1;
}

.btn--contact{
  text-align: right;
  margin-top: 40px;
}

.contact__nam{
  cursor: default;
  margin-top: 40px;
  font-size: 50px;
  color: #D98D34;
}

.contact__text{
  cursor: pointer;
  margin-top: 20px;
  font-size: 40px;
  color: #EEDAC0;
}

.social{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social__icon{
  cursor: pointer;
  max-width: 50px;
  transition: .5s;
  fill: #EEDAC0;
}

.social__icon:hover{
  transform: rotateY(180deg);
}

.footer{
  margin-top: auto;
  background-color: #D98D34;
}

.language{
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lang{
  font-size: 30px;
  color: #202020;
  margin-right: 20px;
}

.footer__planet{
  max-width: 30px;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(32, 32, 32, 0.8);
  display: flex;
}

.modal.active{
  top: 0;
}

.modal__inner{
  position: relative;
  width: 1100px;
  height: 648px;
  margin: auto;
  background-image: url(../img/modal_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.modal__text{
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
  color: #AB9A83;
}

.modal_marker{
  color: #D98D34;
}

.modal__title{
  text-align: center;
  color: #AB9A83;
  font-size: 60px;
  margin-bottom: 30px;
}

.question_block{
  text-align: center;
  width: 400px;
  height: 150px;
  background-color: #EEDAC0;
  border-radius: 5px;
  border: 3px solid #AB9A83;
  margin: 0 auto;
}

.question{
  padding-top: 15px;
  font-size: 25px;
  color: #4A4741;
}

.question_answers{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.answer{
  position: relative;
  width: 190px;
  height: 40px;
  margin-top: 15px;
}

.answer_checkbox{
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.answer_text{
  cursor: pointer;
  pointer-events:none;
  position: absolute;
  top: 10px;
  left: 60px;
  z-index: 100;
  color: #4A4741;
  font-size: 20px;
}

.answer_lable:before{
  content: '';
  cursor: pointer;
  display: block;
  width: 190px;
  height: 40px;
  background-color: #EEDAC0;
  border: 3px solid #AB9A83;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s;
}

.answer_checkbox:checked + .answer_lable:before{
  background-color: #D98D34;
  border: 3px solid #D98D34;
}

.close{
  cursor: pointer;
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
}

.close span{
  width: 0;
  height: 0;
}

.close:before,
.close:after{
  content: '';
  background-color: #D98D34;
  position: absolute;
  width: 60px;
  height: 5px;
  right: 0;
  border-radius: 10px;
  transition: all .3s;
}

.close:before{
  transform: rotate(45deg);
  top: 10px;
}

.close:after{
  transform: rotate(-45deg);
  bottom: -14px;
}

.close.active span{
  transform: scale(0);
}

.next_question{
  position: absolute;
  bottom: -75px;
  right: 0;
  display: flex;
  align-items: center;
}

.next_question_text{
  font-size: 25px;
}

.arrow--modal{
  cursor: pointer;
}

.arrow--modal div{
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 16px solid #D98D34;
  transition: .3s;
  margin-left: 15px;
}

.arrow--modal div:hover{
  border-left: 16px solid #EEDAC0;
}

.question_icon_1{
  position: absolute;
  top: 180px;
  right: 120px;
  max-width: 110px;
  transform: rotate(9deg);
}

.question_icon_2{
  position: absolute;
  bottom: 65px;
  left: 90px;
  max-width: 110px;
  transform: rotate(-25deg);
}

.lang_question{
  position: absolute;
  top: 40px;
  left:0;
  max-width: 40px;
}

/*------Animation------*/
.main__title.anim{
  opacity: 0;
  transform: translateY(-120px);
  transition: all 1s ease;
}
.main__title.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.main__name.anim{
  opacity: 0;
  transform: translateY(-120px);
  transition: all 1s ease;
}
.main__name.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.btn.anim{
  opacity: 0;
  transform: translateY(120px);
  transition: all 1s ease;
}
.btn.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.btn--teachers.anim{
  opacity: 0;
  transform: translateY(120px);
  transition: all 1s ease;
}
.btn--teachers.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.list.anim{
  opacity: 0;
  transform: translateX(120px);
  transition: all 1s ease;
}
.list.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.title.anim{
  opacity: 0;
  transition: 1.5s;
  transform: translateY(30px);
}
.title.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.about_txt_1.anim{
  opacity: 0;
  transform: translateX(-150px);
  transition: 0.5s ease-out;
}
.about_txt_1.anim.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.about_txt_2.anim{
  opacity: 0;
  transform: translateX(-150px);
  transition: 0.8s ease-out;
}
.about_txt_2.anim.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.about_txt_3.anim{
  opacity: 0;
  transform: translateX(-150px);
  transition: 1.1s ease-out;
}
.about_txt_3.anim.anim-show{
  opacity: 1;
  transform: translateX(0);
}
.statistics_box.anim{
  opacity: 0;
  transform: scale(0);
  transition: 0.5s ease-out;
}
.statistics_box.anim.anim-show{
  opacity: 1;
  transform: scale(1.0);
}
.teachers_inner.anim{
  opacity: 0;
  transform: translateX(100px);
  transition: 0.5s ease-out;
}
.teachers_inner.anim.anim-show{
  opacity: 1;
  transform: translateY(0);
}
.courses_box.anim{
  opacity: 0;
  transform: rotate(15deg) translate(200px);
  transition: 0.5s ease-in;
}
.courses_box.anim.anim-show{
  opacity: 1;
  transform: rotate(0) translate(0);
}
.contact__content.anim{
  opacity: 0;
  transform: translate(200px);
  transition: 0.5s ease-in;
}
.contact__content.anim.anim-show{
  opacity: 1;
  transform: translate(0);
}
/*---------------------*/

@media (max-width: 1920px){
  .container{
    width: 100%;
    max-width: calc(1200px + (1470 - 1200) * ((100vw - 1200px) / (1920 - 1200)));
  }
  .header{
    top: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger{
    max-width: calc(50px + (60 - 50) * ((100vw - 320px) / (1920 - 320)));
    height: calc(27px + (31 - 27) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger span{
    top: calc(11px + (13 - 11) * ((100vw - 320px) / (1920 - 320)));
    height: calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger:before,
  .burger:after{
    height: calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .burger.active:after{
    bottom: calc(10px + (12 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .main__inner{
    padding-top: calc(250px + (430 - 250) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(100px + (275 - 100) * ((100vw - 320px) / (1920 - 320)));
  }
  .main__title{
    font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .main__name{
    font-size: calc(60px + (140 - 60) * ((100vw - 320px) / (1920 - 320)));
  }
  .btn{
    margin-top: calc(20px + (200 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .btn__link{
    font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid #EEDAC0;
    padding: 5px calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .btn__link:hover{
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid #D98D34;
  }
  .main__list{
    font-size: calc(13px + (30 - 13) * ((100vw - 320px) / (1920 - 320)));
  }
  .main__list:before{
    content: '';
    width: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
    height: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
  }
  .title{
    font-size: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .about_txt{
    margin-top: calc(20px + (85 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .statistics_num{
    font-size: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .statistics_text{
    font-size: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  .statistics_box{
    border-radius: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(50px + (110 - 50) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .about__text{
    padding-bottom: calc(30px + (56 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .marks_right{
    margin-top: calc(10px + (50 - 10) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .marks_left{
    margin-top: calc(10px + (50 - 10) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(40px + (50 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .teachers_inner{
    margin-bottom: calc(40px + (150 - 40) * ((100vw - 320px) / (1920 - 320)));
    margin-top: calc(70px + (170 - 70) * ((100vw - 320px) / (1920 - 320)));
  }
  .teacher_avatar img{
    max-width: calc(215px + (265 - 215) * ((100vw - 320px) / (1920 - 320)));
  }
  .teacher_name{
    font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
  }
  .teacher_text{
    font-size: calc(16px + (25 - 16) * ((100vw - 320px) / (1920 - 320)));
  }
  .arrow div{
    border-top: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))) solid transparent;
    border-bottom: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320))) solid transparent;
    border-left: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320))) solid #D98D34;
  }
  .arrow div:hover{
    border-left: calc(18px + (25 - 18) * ((100vw - 320px) / (1920 - 320))) solid #EEDAC0;
  }
  .title--courses{
    margin-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .courses_inner{
    padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1920 - 320)));
  }
  .courses_box{
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .courses_name{
    font-size: calc(34px + (40 - 34) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320))) calc(20px + (25 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .courses_text{
    font-size: calc(25px + (30 - 25) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .cta{
    margin-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .price{
    border-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
  }
  .cta__btn{
    border-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (1920 - 320)));
  }
  .contact__inner{
    margin-top: calc(40px + (70 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
  }
  .contact_input{
    padding: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .contact__title{
    font-size: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .contact_checkbox_lable {
    font-size: calc(13px + (22 - 13) * ((100vw - 320px) / (1920 - 320)));
  }
  .btn--contact{
    margin-bottom: 70px;
  }
  .contact__nam{
    margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .contact__text{
    font-size: calc(25px + (40 - 25) * ((100vw - 320px) / (1920 - 320)));
  }
  .social__icon{
    max-width: calc(30px + (50 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .language{
    padding: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320))) 0;
  }
  .lang{
    margin-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .footer__planet{
    max-width: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  }

  .modal__inner{
    position: relative;
    width: calc(290px + (1100 - 290) * ((100vw - 320px) / (1920 - 320)));
    height: calc(410px + (648 - 410) * ((100vw - 320px) / (1920 - 320)));
  }
  .modal__text{
    margin-top: 80px;
    font-size: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
  }
  .modal__title{
    font-size: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 30px;
  }
  .lang_question{
    top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    max-width: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .close{
    top: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    right: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .close:before, .close:after{
    width: calc(35px + (60 - 35) * ((100vw - 320px) / (1920 - 320)));
    height: calc(4px + (5 - 4) * ((100vw - 320px) / (1920 - 320)));
  }
  .question_block{
    width: calc(250px + (400 - 250) * ((100vw - 320px) / (1920 - 320)));
    height: calc(90px + (150 - 90) * ((100vw - 320px) / (1920 - 320)));
  }
  .question{
    padding-top: calc(5px + (15 - 5) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  .question_answers{
    max-width: calc(250px + (400 - 250) * ((100vw - 320px) / (1920 - 320)));
  }
  .answer{
    margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
    width: calc(120px + (190 - 120) * ((100vw - 320px) / (1920 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .answer_lable:before{
    width: calc(120px + (190 - 120) * ((100vw - 320px) / (1920 - 320)));
    height: calc(30px + (40 - 30) * ((100vw - 320px) / (1920 - 320)));
  }
  .answer_text{
    top: calc(8px + (10 - 8) * ((100vw - 320px) / (1920 - 320)));
    left: calc(35px + (60 - 35) * ((100vw - 320px) / (1920 - 320)));
    font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  .next_question_text{
    font-size: calc(15px + (25 - 15) * ((100vw - 320px) / (1920 - 320)));
  }
  .next_question{
    bottom: calc(-40px + (-75 - -40) * ((100vw - 320px) / (1920 - 320)));
  }
  .arrow--modal div{
    border-top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320))) solid transparent;
    border-bottom: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320))) solid transparent;
    border-left: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320))) solid #D98D34;
    transition: .3s;
    margin-left: calc(10px + (15 - 10) * ((100vw - 320px) / (1920 - 320)));
  }
  .arrow--modal div:hover{
    border-left: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320))) solid #EEDAC0;
  }
  .question_icon_2{
    max-width: calc(45px + (110 - 45) * ((100vw - 320px) / (1920 - 320)));
    bottom: calc(20px + (65 - 20) * ((100vw - 320px) / (1920 - 320)));
    left: calc(25px + (90 - 25) * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 1250px){
  .question_icon_1{
    display: none;
  }
}

@media (max-width: 1024px){
  .nav{
    display: none;
  }
  .burger{
    display: block;
  }
  .burger_nav{
    display: block;
  }
  .burger_nav.active{
    top: 0;
    margin-top: calc(130px + (150 - 130) * ((100vw - 320px) / (1024 - 320)));
  }
}

@media (max-width: 1005px){
  .main__inner{
    display: flex;
    justify-content: center;
  }
  .main__content{
    display: block;
  }
  .list{
    margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1005 - 320)));
  }
  .teachers_inner{
    display: block;
  }
  .teachers_inner .teachers_box:not(:first-child){
    margin-top: 30px;
  }
  .teachers_box{
    max-width: 315px;
    margin: 0 auto;
  }
}

@media (max-width: 900px){
  .statistics{
    display: block;
  }
  .statistics_box--pad{
    margin-right: 0;
  }
  .statistics .statistics__inner:last-child{
    padding-bottom: 80px;
  }
  .statistics__inner{
    max-width: 500px;
    margin: 0 auto;
  }
  .courses_inner{
    display: block;
  }
  .courses_box{
    max-width: 400px;
    margin: 0 auto;
  }
  .courses_inner .courses_box:not(:first-child){
    margin-top: 30px;
  }
  .contact__inner{
    display: block;
  }
}